* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CLASSES AUXILIARES*/
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    margin-bottom: 20px;
}
.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*CUSTOMIZAÇÃO*/
#corposite {background: #f1f1f1f1;
}
/*MEDIA*/
@media only screen and (max-width: 600px) {
    #corposite {background: green;}
    
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}