/*RESET*/
* {margin: 0;padding: 0;box-sizing: border-box;}

/*CLASSES AUXILIARES*/
.container{margin:0 auto;max-width: 1280px;width: 95%;}
.section{margin-top: 0.5rem;padding-top: 1rem;padding-bottom: 1rem; background: #e1e1e1;}
.section h1{margin-bottom: 1rem;background-color: #555;color:#fff;padding-top: 1rem;padding-bottom: 1rem;}
.section img{}
.section p{text-align: justify;text-indent: 2rem;}
/*VARIAVEIS*/


/*CUSTOMIZAÇÃO*/
body {background: #34495e;font-family: Verdana, Geneva, Tahoma, sans-serif;}
img{max-width: 100%;display: block;margin: auto;}

/*TOPOSITE*/
#toposite{position: sticky;top: 0;background-color: #4b4b4b;}
#topositeint{display: flex;justify-content: space-between;align-items: center;}

/*LOGO*/
.logo_text{display:none;}

/*NAV*/
.menu {display:flex;align-items:center;}
nav ul,nav li {list-style: none;margin:0;padding:0;}
nav ul{display:flex;}
nav a{display:block;padding:15px;text-decoration:none;text-transform:uppercase;color:#fff;}
nav .active a,nav a:hover{background-color:#39aae1;color:#FFFFFF;}
.menuMobile{display:none;width:60px;height:60px;color: #fff;border: 1px solid #fff;border-radius: 10px;justify-content: center;}
.menuMobile-container{display: flex;flex-direction: column;align-items: center;}
.mm_line{height:3px;background-color:#fff;width: 80%;margin: 2px;}

/*SHOWCASE*/
.showcasebox{
    background: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    box-shadow: 2px 2px 5px #333;
    margin-bottom: 0.5rem;
    transition: 0.5s transform;
}
.showcasebox:hover{
    transform: scale(1.1);
    transition: 0.5s transform;
}
.showcasebox-title {
    width:100%;
}
.showcasebox h2{
    text-align: center;
    background: #333;
    color: #fff;
    text-transform: uppercase;
}

.showcaseboxint{
    display: flex;
    flex-wrap: wrap;
    background: yellow;
    font-weight: bold;
    width:100%;
}
.showcasebox ul{
    list-style: none;
}
.showcaseboxint i{
    color: blue;
}
.showcaseboxint ul{
    margin: 1rem;
}
.showcaseboxint li{
    margin: 0.5rem;
}

.quemsomos i{
    font-size: 2rem;
    margin-right:1rem; 
}
/*RODAPESITE*/
#rodapesite{
    background-color:#1e1e1e;
    color: #fff;
    text-shadow: 2px 2px #000;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}
    #rodapesite a{
        text-decoration: none;
        color: #fff;
        text-shadow: 2px 2px #000;
        padding: 5px;
    }

    #rodapesite h1{
        border-bottom: 1px dashed blue;
        font-size: 1.5rem;
    }
    .rodapeendereco,.rodapecontato,.rodapeatendimento{
        padding: 5px;
        flex:1;
    }
    #copyright{
    border-top: 1px solid #ccc;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }

/*MEDIAS*/
/*MEDIA MOBILE*/
@media only screen and (max-width: 600px) {
    nav ul {
		flex-direction: column;
		display:none;
		position: absolute;
	    left: 0;
	    width: 100%;
	    background-color: #2b4c99;
	}

	header {
		height:auto;
	}

	.menuMobile {
		display:flex !important;
		flex-direction: column;
		justify-content:space-around;
	}
}

/*MEDIA TABLETS*/
@media only screen and (min-width: 601px) {
    .container {
        width: 90%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
    
    #rodapeitens{
        display: flex;
    }
    nav ul {
        display: flex !important;
    }
    
}
/*MEDIA HD*/
@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}