/*RESET*/
* {margin: 0;padding: 0;box-sizing: border-box;}

/*CLASSES AUXILIARES*/
.container{margin:0 auto;max-width: 1280px;width: 95%;background: #eee;}
.section{margin-top:1rem;padding-top: 1rem;padding-bottom: 1rem; background: red;}
/*VARIAVEIS*/


/*CUSTOMIZAÇÃO*/
body {background: green;}

/*MEDIAS*/
/*MEDIA MOBILE*/
@media only screen and (max-width: 600px) {
}

/*MEDIA TABLETS*/
@media only screen and (min-width: 601px) {
    .container {
        width: 90%;
    }
}
/*MEDIA HD*/
@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}